<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- all beans from global.xml should be available here -->
       <bean id="webBean" class="java.lang.String">
              <constructor-arg value="Web Bean: #{T(java.util.UUID).randomUUID().toString()}"/>
       </bean>
</beans>